@import '../../scss/variables.scss';

.button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 241px;
  height: 34px;
  padding-left: 30px;
  text-align: left;
  outline: none;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.button.button__close{
  opacity: 0;
}

.button__hover:hover{
  background-color: $btn-bcg-color;
}

.not-first-loading{
  display: none;
}

.button__content{
  opacity: 0;
  @for $i from 5 through $button-text-length {
    &:nth-child(#{$i}){
      animation: letter-apperance 0.7s 0.7 + ($button-letter-appear-time * ($i - 5))  ease-in forwards;
    }
  }
}

@keyframes letter-apperance {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@include siema()
