@import '../../scss/variables.scss';

.footer{
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 40px 0 20px 0;
  margin-top: 20px;
  background: $footer-bcg-color;
  z-index: 2;

  &__api{
    text-align: center;
    @include footer-font();
  }

  &__a{
  @include footer-font();
    transition: 0.1s;
    &:hover{
      color: rgb(132, 132, 166);
    }
  }

  &__name{
   @include footer-font();
    text-align: center;
    flex-basis: 100%;
  }

  &__icons{
    display: flex;
    align-content: center;
  }

  &__icon{
    width: 18px;
    margin: 0 6px;
    filter: invert(71%) sepia(0%) saturate(2061%) hue-rotate(49deg) brightness(93%) contrast(101%);
    line-height: 1;

    &--in{
      transform: translateY(1px);
    }
  }
}