@import './scss/variables.scss';

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  background-color:	$main-bcg-color;
  min-height: calc(100Vh + $footer-height);
  overflow: hidden;
}