@import '../../scss/variables.scss';

.nav{
  opacity: 0;
  transition: $image-curtain-time $iamge-curtain-delay ease-in-out;
  margin: 15px 0 30px 0;
}

.nav__button{
  position: relative;
  padding: 4px 30px;
  font-weight: 600;
  outline: none;
  border: 2px solid $darken-color;
  background-color: transparent;
  color:$darken-color;
  cursor: pointer;
  z-index: 3;

  &:hover{
    color: $main-color;
    border: 2px solid $main-color;
    background-color: $btn-bcg-color;
  }
}

.nav--start{
  opacity: 1;
}

nav.nav--end{
  transition: 0.3s;
  opacity: 0;
}