@import '../../scss/variables.scss';

.nav{
  opacity: 1;
  margin: 60px auto 30px auto;
}

.nav__button{
  position: relative;
  padding: 4px 30px;
  font-weight: 600;
  outline: none;
  border: 2px solid $darken-color;
  background-color: transparent;
  color:$darken-color;
  cursor: pointer;
  z-index: 3;

  @media (min-width: 800px){
    &:hover{
      color: $main-color;
      border: 2px solid $main-color;
      background-color: $btn-bcg-color;
    }
  }
}